.header{
  height: 100px;
  padding: 20px 0 24px 0;
  .container{
    display: grid;
    grid-template-columns: 576px 400px 345px;

  }
  ul{
    width: 255px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  &__wrapper{
    display: flex;
    justify-content: left;
    align-items: center;
  }
  &__list{
    font-size: 16px;
    font-weight: 400;
    list-style: none;
  }
  &__logo{
    display: grid;
    grid-template-columns: auto;
    column-gap: 321px ;
  }
  &__login{
    font-size: 15px;
    font-weight: 400;
  }
  &__btn{
    margin-left: 33px;
    border: 1px solid rgb(20, 20, 20);
    width: 210px;
    height: 50px;
    background-color: white;
    color: black;
  }
  &__bag{
    margin-left: 33px;
  }
}
